.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.login-card {
  width: 400px;
  max-width: 90%;
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}

mat-card-header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

mat-card-title {
  font-size: 24px;
  font-weight: 500;
}
