/* Global Styles */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* Roboto Font */
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';

/* Material Icons */
@import 'material-icons/iconfont/material-icons.css';


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}
